<section class="landing-section-foursquare">
<h3 class="landing-section-title">SaaS Solution for De-Siloing Communication Across Groups</h3>
<div class="landing-foursquare">
    <div class="l-foursquare landing-foursquare__top-left">
        <div class="landing-icon landing-compass-icon"></div>
        <h5 class="landing-foursquare__subtitle">Insight Into Your Ecosystem </h5>
        <p class="landing-foursquare__paragraph">
            Socialroots empowers you with key metrics, providing a clear, quantifiable snapshot of your accomplishments.
        </p>
    </div>
    <div class="l-foursquare landing-foursquare__top-right">
        <div class="landing-icon landing-conversation-icon"></div>
        <h5 class="landing-foursquare__subtitle">Streamline and De-Silo Communication</h5>
        <p class="landing-foursquare__paragraph">
            Socialroots ensures smooth coordination across various organizations, departments and projects.
        </p>
    </div>
    <div class="l-foursquare landing-foursquare__bottom-left">
        <div class="landing-icon landing-arrows-up-icon"></div>
        <h5 class="landing-foursquare__subtitle">Email Integrated Conversations Increase Engagement</h5>
        <p class="landing-foursquare__paragraph">
            Conversations on Socialroots are integrated with Email, allowing greater engagement and no reply-alls!
        </p>
    </div>
    <div class="l-foursquare landing-foursquare__bottom-right">
        <div class="landing-icon landing-checklist-icon"></div>
        <h5 class="landing-foursquare__subtitle">Decrease Noise and Increase Action</h5>
        <p class="landing-foursquare__paragraph">
            Stop managing your conversations and projects in jumbled email threads, spreadsheets, and heavy task-tracking tools. See and share action items across all of your groups in one place.
        </p>
    </div>
</div>
</section>