<section class="landing-section-foursquare">
<h3 class="landing-section-title">The collaboration space your community's been waiting for!</h3>
<div class="landing-foursquare">
    <div class="l-foursquare landing-foursquare__top-left">
        <div class="landing-icon landing-compass-icon"></div>
        <h5 class="landing-foursquare__subtitle">Understand & Navigate Your Network</h5>
        <p class="landing-foursquare__paragraph">
            Whether you have a small community focused on learning, or a vast network dedicated to taking action, Socialroots can help you to understand the shape of your network, see what’s happening in other groups you’re connected with, and discover other people and organizations with aligned values and goals.
        </p>
    </div>
    <div class="l-foursquare landing-foursquare__top-right">
        <div class="landing-icon landing-conversation-icon"></div>
        <h5 class="landing-foursquare__subtitle">Balance Relationship Building & Action</h5>
        <p class="landing-foursquare__paragraph">
            Cultivating relationships is just as important as taking action, but it can be overwhelming to balance the two. Not anymore. Socialroots reduces noise by streamlining communications and cuts across silos by giving groups a space of their own, while keeping them connected with their whole network. This is how we get work done, together.
        </p>
    </div>
    <div class="l-foursquare landing-foursquare__bottom-left">
        <div class="landing-icon landing-arrows-up-icon"></div>
        <h5 class="landing-foursquare__subtitle">Engage & Align Your Group</h5>
        <p class="landing-foursquare__paragraph">
            If you’re struggling for engagement because everyone’s working in silos, or you’re frustrated by AI algorithms that prevent you from building a shared understanding, we can help. Socialroots helps your group to organize without silos and work in a shared reality, so everyone can see what’s happening. And by connecting it all back to your purpose, everyone can see why.
        </p>
    </div>
    <div class="l-foursquare landing-foursquare__bottom-right">
        <div class="landing-icon landing-checklist-icon"></div>
        <h5 class="landing-foursquare__subtitle">Spend Less Time on Logistics</h5>
        <p class="landing-foursquare__paragraph">
            Community organizers spend a lot of time keeping track of who’s doing what and when. Socialroots allows coordination to happen naturally so you and your team spend less time scheduling and checking in, and more time learning, collaborating, and achieving your community’s goals.
        </p>
    </div>
</div>
</section>