<!-- Begin Sendinblue Form -->
<!-- START - We recommend to place the below code in head tag of your website html  -->

<!--<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">-->
<section class="landing-early-access-block" id="early-access">
    <h3 class="landing-section-title">Lower the cost of cross-group coordination.</h3>
    <p class="landing-section-big-message">Sign up for early access.</p>
    <span class="landing-early-access-sign-up-form">
        <a
            href="{{@site.url}}/signup"
            class="f-button__early-access"
        >
            <span class="landing-early-access-email">
                {{t "Get early access"}}
                <span class="icon-arrow-right f-hero_" style="margin-left:2px;" aria-hidden="true"></span>
            </span>
        </a>
</section>
<script src="https://sibforms.com/forms/end-form/build/main.js"></script>
<script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
