<section class="landing-early-access-block" id="early-access">
    <h3 class="landing-section-title">Help your community to grow, align, and make an impact!</h3>
    <p class="landing-section-big-message">Sign up for early access.</p>

    <div class="landing-early-access-sign-up-form">
        <span class="landing-early-access-form-column">
            <label>Email</label>
            <input type="text" class="landing-early-access-email" placeholder="you@example.com">
        </span>
        <span style="margin-left:20px;">
            <div class="f-button__early-access f-button">
                {{t "Get early access"}}
                <span class="icon-arrow-right f-hero_" aria-hidden="true"></span>
            </div>
        </span>
    </div>

</section>