<a href="{{url}}" class="landing-partner-card__url-wrapper">
<div class="landing-partner-card">
    <!-- Modified 3/6/23 -->

    <div style="background-image: url('{{feature_image}}');"
        class="landing-partner-card__bg_image"></div>

</div>
</a>