
<div class="f-major-partners-badge__container
    {{#if hero}}
        f-major-partners-badge__container_hero
    {{else}}
        f-major-partners-badge__container_footer
    {{/if}}">
    <a href="{{@site.url}}/national-science-foundation/" class="f-major-partners-badge__icon f-major-partners-badge__icon_nsf">
    </a>
    <a href="{{@site.url}}/national-science-foundation/" class="f-major-partners-badge__icon f-major-partners-badge__icon_nsftext">
    </a>
</div>